.ordens-page {
  padding: 20px;
  margin-left: 3%;
}

.ordens-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.ordens-page form {
  display: flex;
  margin-bottom: 20px;
  margin-left: 3%;
}

.ordens-page input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pedido-cards {
  max-width: 95%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 1%;
  margin-top: 5%;
}

.ui-card-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

td, th{
  background: rgba(69, 75, 228, 0.05);
}

.datatable-scroll-demo .p-datatable-scrollable-header,
.datatable-scroll-demo .p-datatable-scrollable-body {
  overflow-y: auto;
  max-height: 200px;
}

.p-input-icon-left>i:first-of-type {
  left: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.p-input-icon-left>.p-inputtext {
  padding-left: 3rem;
}