/* Footer.css */
footer {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 98%;
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer nav {
  margin-top: 10px;
}

footer nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007BFF;
}

footer nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  footer {
    max-width: 100%;
  }
}
